body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background/DALL·E 2024-05-26 15.35.20 - A colorful webpage background image for a trucking company called MisiTrans. The design should incorporate green, orange, and natural colors. Include .webp') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(50, 205, 50, 0.8);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.language-switcher {
    margin-top: 10px;
}

.language-switcher button {
    background-color: white;
    color: #32CD32;
    border: none;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.language-switcher button:hover {
    background-color: #32CD32;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

section {
    margin: 20px 0;
}

footer {
    background-color: rgba(255, 165, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.photo-gallery img {
    margin: 10px;
    max-width: 300px;
    height: auto;
    width: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    object-fit: contain;
}
